<% include ../includes/header %>

<div class="osu-layout__section osu-layout__section--full js-content community_tournaments-index">
    <div class="osu-layout__row osu-layout__row--page wiki-header">
        <div class="text">
            <h1>manage team</h1>
        </div>
    </div>
    <div class="osu-layout__row osu-layout__row--sm1">
        <% for (let type in messages) { %>
            <div class="alert alert-<%- type %>">
                <%- messages[type] %>
            </div>
        <% } %>
		<div id="forum-1" class="forum-category col-sm-12 forum-colour category-osu">
			<div class="row forum-category-header forum-colour__bg--category-osu">
				<div class="forum-category-header__name">Team Members</div>
				<div class="forum-category-header__description">Who you're competing with.</div>
			</div>
			<div class="forums osu-layout__sub-row">
                <div class="">
                    <form method="POST" action="/team/update">
                        <input type="hidden" name="_csrf" value="<%- page.csrfToken %>" />
                        <div id="players">
                            <div class="input-group" style="padding: 5px;">
                                <div class="col-md-6">
                                    <input type="text" placeholder="Username" name="usernames[]" class="form-control" autocomplete="off">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" placeholder="Timezone" name="timezones[]" class="form-control" autocomplete="off">
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn-osu btn-danger" type="button" onclick="javascript:$(this).parent().parent().remove();"><i class="fa fa-trash"></i></button>
                                </span>
                            </div>
                        </div>
                        <p>
                            <a href="javascript:add_player();" class="btn-osu btn-primary form__button"><i class="fa fa-plus"></i> Add player</a>
                            <button type="submit" class="btn-osu btn-success btn-lg form__button">Update <i class="fa fa-check"></i></button>
                        </p>
                    </form>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
</div>

<script>
    var totalPlayers = 1;
    var player = $("#players > div").clone();
    var add_player = function(p0) {
        if (totalPlayers >= 4) {
            return;
        }
        if (p0) {
            var name = p0[0], timezone = p0[1];
        }
        player.appendTo("#players");
        totalPlayers += 1;
        player = $("#players > div:first-child").clone();
        player.find(".form-control").val("");
    }
    <% for (let player of user.team) { %>
        add_player("<%- player.username %>", "<%- player.timezone %>");
    <% } %>
</script>

<% include ../includes/footer %>